<launch>
    <node pkg="px4_apriltag_landing" type="px4_apriltag_landing_node" name="px4_apriltag_landing_node" output="screen"/>
    <rosparam command="load" file="$(find px4_apriltag_landing)/config/params.json"/>

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
    <include file="$(find gstreamer_ros_bridge)/launch/v4l2.launch">
        <arg name="gst_topic" value="/tag_detections_image"/>
    </include>
</launch>
